<div class="topnav">
	<a href="/">Accueil</a>
	<a href="/cmds.html">Commandes</a>
	<a class="right" target="_blank" href="https://discord.gg/RjxK6Wt">Discord</a>
	<a class="right" href="/login.html">Se connecter</a>
</div> 
